<div class="container">
  <h1>Password Strength Tester</h1>
  <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter your password" [(ngModel)]="password" (input)="updatePasswordStrength()">
  <div class="strength-meter">
    <div class="bar bar1" [style.backgroundColor]="bar1Color"></div>
    <div class="bar bar2" [style.backgroundColor]="bar2Color"></div>
    <div class="bar bar3" [style.backgroundColor]="bar3Color"></div>
  </div>
  <p class="strength-message">{{ passwordStrengthMessage }}</p>
  <button (click)="togglePasswordVisibility()">
    {{ showPassword ? 'Hide' : 'Show' }}
  </button>
</div>
